.idea
build/
logs/
*.iml
target/
git
application.propesties
database.properties
mail.properties
db/
LoginCommand.java
LoginServlet.java
GoogleLoginCommand.java
IdTokenVerifierAndParser.java
AppConfigurator.java
AppTest.java
ReCaptchaVerifier.java
FlywayListener.java
FlywayConfigurator.java
account.jsp
LOGIN2.jsp
login.jsp
account.js