/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

:root {
    --page-header-bgColor: #242e42;
    --page-header-bgColor-hover: #1d2636;
    --page-header-txtColor: #dde9f8;
    --page-header-headingColor: #7889a4;
    --page-header-width: 220px;
    --page-content-bgColor: #f0f1f6;
    --page-content-txtColor: #171616;
    --page-content-blockColor: #fff;
    --white: #fff;
    --black: #333;
    --blue: #00b9eb;
    --red: #ec1848;
    --border-radius: 4px;
    --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a,
button {
    color: inherit;
}

a {
    text-decoration: none;
}

button {
    background: none;
    cursor: pointer;
}

input {
    -webkit-appearance: none;
}

button,
input {
    border: none;
}

svg {
    display: block;
}

body {
    font: 16px/1.5 "Lato", sans-serif;
}


/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding-top: 20px;
    width: var(--page-header-width);
    color: var(--page-header-txtColor);
    background: var(--page-header-bgColor);
}

/*In case you prefer an absolutely positioned header that covers the full page height, add these styles*/
/*body {
  position: relative;
}

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}*/

/*remove these styles*/
/*.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}*/

.page-header nav {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page-header .logo {
    display: block;
    max-width: 120px;
    margin: 0 15px;
}

.page-header .toggle-mob-menu {
    display: none;
    margin-left: 5px;
    padding: 4px;
    background: var(--page-content-blockColor);
    border-radius: var(--border-radius);
}

.page-header .toggle-mob-menu svg {
    fill: var(--black);
    transition: transform 0.2s;
}

.page-header .admin-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 35px;
}

.page-header .admin-menu li:nth-last-child(2) {
    margin-bottom: 35px;
}

.page-header .admin-menu li:last-child {
    margin-top: auto;
    margin-bottom: 20px;
}

.page-header .admin-menu li > * {
    width: 100%;
    padding: 12px 15px;
}

.page-header .admin-menu .menu-heading h3 {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 12px;
    margin-top: 12px;
    color: var(--page-header-headingColor);
}

.page-header .admin-menu svg {
    width: 20px;
    height: 20px;
    fill: var(--page-header-txtColor);
    margin-right: 10px;
    transition: fill 0.2s;
}

.page-header .admin-menu a,
.page-header .admin-menu button {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    transition: background 0.2s, color 0.2s;
}

.page-header .admin-menu a:hover,
.page-header .admin-menu a:focus,
.page-header .admin-menu button:hover,
.page-header .admin-menu button:focus {
    background: var(--page-header-bgColor-hover);
    color: var(--blue);
    outline: none;
}

.page-header .admin-menu a:hover svg,
.page-header .admin-menu a:focus svg,
.page-header .admin-menu button:hover svg,
.page-header .admin-menu button:focus svg {
    fill: var(--blue);
}


/* PAGE CONTENT STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-content {
    position: relative;
    left: var(--page-header-width);
    width: calc(100% - var(--page-header-width));
    min-height: 100vh;
    padding: 30px;
    color: var(--page-content-txtColor);
    background: var(--page-content-bgColor);
}

.search-and-user {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 50px;
    align-items: center;
    background: var(--page-content-bgColor);
    margin-bottom: 30px;
}

.search-and-user form {
    position: relative;
}

.search-and-user input[type="search"] {
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    padding-left: 15px;
    background: var(--page-content-blockColor);
    color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.search-and-user ::placeholder {
    color: var(--page-content-txtColor);
}

.search-and-user form svg {
    width: 26px;
    height: 26px;
    fill: var(--page-content-txtColor);
}

.search-and-user form button {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.search-and-user .admin-profile {
    display: flex;
    align-items: center;
}

.search-and-user .admin-profile .greeting {
    margin: 0 10px 0 20px;
}

.search-and-user .admin-profile svg {
    width: 30px;
    height: 30px;
}

.search-and-user .admin-profile .notifications {
    position: relative;
}

.search-and-user .admin-profile .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: -3px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 10px;
    color: var(--white);
    background: var(--red);
}

.page-content .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.page-content .grid > article {
    display: flex;
    height: 300px;
    background: var(--page-content-blockColor);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.page-content .grid > article:first-child,
.page-content .grid > article:last-child {
    grid-column: 1 / -1;
}


/* MQ RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 767px) {
    .page-header,
    .page-content {
        position: static;
        width: 100%;
    }

    .page-header {
        padding: 10px;
    }

    .page-header nav {
        flex-direction: row;
    }

    .page-header .logo {
        margin: 0;
        height: 35px;
    }

    .page-header .toggle-mob-menu {
        display: block;
    }

    .page-header .admin-menu {
        position: absolute;
        left: 98px;
        top: 57px;
        margin-top: 0;
        z-index: 2;
        border-radius: var(--border-radius);
        background: var(--page-header-bgColor);
        visibility: hidden;
        opacity: 0;
        transform: scale(0.95);
        transition: all 0.2s;
    }

    .page-header .admin-menu li:nth-last-child(2) {
        margin-bottom: 12px;
    }

    .page-header .admin-menu li:last-child,
    .search-and-user .admin-profile .greeting {
        display: none;
    }

    .page-content {
        min-height: 0;
        padding: 10px;
    }

    .page-content .grid {
        grid-gap: 10px;
    }

    .search-and-user {
        position: absolute;
        left: 131px;
        top: 10px;
        padding: 0;
        grid-column-gap: 5px;
        width: calc(100% - 141px);
        border-radius: var(--border-radius);
        background: transparent;
    }

    .search-and-user input[type="search"] {
        font-size: 1rem;
        height: 35px;
    }

    .search-and-user form svg {
        width: 18px;
        height: 18px;
    }

    .search-and-user .admin-profile svg {
        fill: var(--white);
    }
}

@media screen and (max-width: 400px) {
    .page-content .grid > article {
        grid-column: 1 / -1;
    }
}


/* BODY CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mob-menu-opened .toggle-mob-menu svg {
    transform: rotate(180deg);
}

.mob-menu-opened .page-header .admin-menu {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .collapsed .page-header {
        width: 40px;
    }

    .collapsed .page-header .admin-menu li > * {
        padding: 10px;
    }

    .collapsed .page-header .logo,
    .collapsed .page-header .admin-menu span,
    .collapsed .page-header .admin-menu .menu-heading {
        display: none;
    }

    .collapsed .page-header .admin-menu svg {
        margin-right: 0;
    }

    .collapsed .page-header .collapse-btn svg {
        transform: rotate(180deg);
    }

    .collapsed .page-content {
        left: 40px;
        width: calc(100% - 40px);
    }
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
    font-size: 0.85rem;
    text-align: right;
    margin-top: 10px;
}

.page-footer span {
    color: var(--red);
}


/* MY CSS
--------------------------------------------------- */

.page-content .grid {
    grid-template-columns: auto;
}
.page-content .grid > article {
    height: 800px;
}
.grid>article:not(.tabs__links) {
    display: none;
    order: 1;
}
.grid>article:target {
    /*border: 10px solid red;*/
    display: block;
}




table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.grid article {
    padding:40px
}


/**************************************/
/*          Pagination                */
/**************************************/

/*.mrow */.pagination{
              width: 100%;
              /*float: left;*/
              padding:15px;
              text-align: center;
          }
/********************************/
/*.mrow*/ .pagination div{
              display: inline-block;
              margin:0 10px;
          }
/*.mrow*/ .pagination .page{
              color:gray;
          }
/*.mrow*/ .pagination .prev,/*.mrow */.pagination .next{
              color:#000;
              border:1px solid #000;
              font-size:15px;
              padding:7px 15px;
              cursor: pointer;
          }

/*.mrow*/ .pagination .prev.disabled,
              /*.mrow*/ .pagination .next.disabled{
              border-color: gray;
              color:gray;
              pointer-events: none;
          }

/* to be centered */
/*.pagination {
  position:fixed;
  bottom: 100px;
  left:100px;;
}*/


.pagination {
    position:fixed;
    bottom: 35px;
    left:100px;;
}

.page-content {
    float:left
}

/*:target {
  background-color: red;
  display: none;
}
#pages {
  background-color: blue;
}*/

/********************************************    Style for input file 2     *********************************************/

.example-2 .btn-tertiary{
    color:#555;
    padding:0;
    line-height:40px;
    width:300px;
    margin:auto;
    display:block;
    border:2px solid #555
}
.example-2 .btn-tertiary:hover,.example-2 .btn-tertiary:focus{
    color:#888;
    border-color:#888
}
.example-2 .input-file{
    width:.1px;
    height:.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1
}
.example-2 .input-file + .js-labelFile{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding:0 10px;
    cursor:pointer
}
.example-2 .input-file + .js-labelFile .icon:before{
    content:"\f093"
}
.example-2 .input-file + .js-labelFile.has-file .icon:before{
    content:"\f00c";
    color:#5AAC7B
}


/***********************************************  Style for input file 1  ************************************************/

.example-1 .form-group{
    padding:1em;
    margin:1em
}
.example-1 input[type=file]{
    outline:0;
    opacity:0;
    pointer-events:none;
    user-select:none
}
.example-1 .label{
    width:120px;
    border:2px dashed grey;
    border-radius:5px;
    display:block;
    padding:1.2em;
    transition:border 300ms ease;
    cursor:pointer;
    text-align:center
}
.example-1 .label i{
    display:block;
    font-size:42px;
    padding-bottom:16px
}
.example-1 .label i,.example-1 .label .title{
    color:grey;
    transition:200ms color
}
.example-1 .label:hover{
    border:2px solid #000
}
.example-1 .label:hover i,.example-1 .label:hover .title{
    color:#000
}



/************************************************* Style for book adding *************************************************/

.inp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
    height: 53px;
}
.inp .border {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 18px;
    fill: none;
}
.inp .border path {
    stroke: #c8ccd4;
    stroke-width: 2;
}
.inp .border path d {
    transition: all 0.2s ease;
}
.inp .check {
    position: absolute;
    top: 20px;
    right: 20px;
    fill: none;
    transform: translate(0, 9px) scale(0);
    transition: all 0.3s cubic-bezier(0.5, 0.9, 0.25, 1.3);
    transition-delay: 0.15s;
}
.inp .check path {
    stroke: #07f;
    stroke-width: 2;
}
.inp input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}
.inp input:focus {
    outline: none;
}
.inp input:focus + .border path {
    stroke: #07f;
}
.inp input:valid + .border path {
    animation: elasticInput 0.8s ease forwards;
}
.inp input:valid + .border + .check {
    transform: translate(0, 0) scale(1);
}
::placeholder {
    color: #9098a9;
}
@-moz-keyframes elasticInput {
    33% {
        d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,1 253,1 C261,1 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
    66% {
        d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,17 253,17 C261,17 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
}
@-webkit-keyframes elasticInput {
    33% {
        d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,1 253,1 C261,1 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
    66% {
        d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,17 253,17 C261,17 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
}
@-o-keyframes elasticInput {
    33% {
        d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,1 253,1 C261,1 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
    66% {
        d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,17 253,17 C261,17 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
}
@keyframes elasticInput {
    33% {
        d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,1 253,1 C261,1 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
    66% {
        d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,17 253,17 C261,17 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
}


/************************************************* Add book button          ******************************************************/

#addBtn {
    /*padding: 16px 32px;*/
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

#addBtn:hover {
    background-color: #e7e7e7;
}
